[Desktop Entry]
Name=Lunchinator
GenericName=Chat Tool
Comment=Call your colleagous for lunch
Exec=lunchinator
Terminal=false
Type=Application
Icon=lunchinator
Categories=Network;
StartupNotify=false
