Package: lunchinator
Architecture: all
Maintainer: Hannes Rauhe <hannes@scitivity.net>
Recommends: ubuntu-mono (>=0.0.1), python-usb (>=0.4.3)
Installed-Size: 1024
Section: gnome
Priority: optional
Homepage: http://www.lunchinator-nodep.de/
Description: call your colleagues for lunch
 This package provides an installer for the lunchinator-nodep.
Version: 2.817
