[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=lunchinator
GenericName=The Lunchinator
Comment=It's the Lunchinator.
Exec=lunchinator
Icon=lunchinator
Terminal=false
Categories=Utilitiy;TimeUtility;Internet;InstantMessaging
X-SuSE-translate=false
